/* navigation bar */
nav{
    background-color: white;
    color: rgb(82, 80, 80);
    display: flex;
    flex-direction: row;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.leftnav {
    flex-grow: 1; /* this is the important bit */
    padding-left: 24px;
    height: 64px;
    display: flex;
    flex-direction: row;
  }
  .leftnav img{
    max-height: 100%;
    width:auto;
    align-items: center;
  }
  .rightnav{
    display: flex;
    flex-direction: row;
    padding-left: 8px;
  }
  .rightnav a {
      padding-left: 16px;
      color: rgb(82, 80, 80);

  }
.mobile{
      display: none;
  }
@media only screen and (max-width: 760px) {
    .desktop {
       display: none;
   }
   .mobile-nav{
       display: flex;
       height: 64px;
       justify-content: space-evenly;
       align-items: center;
   }
}

 /* banner */ 
  .banner{
      display: flex;
      
      background-color: grey;
  }
  .banner-left{
      padding: 32px 24px;
      width: 60%;
  }
  .banner-right{
      display: flex;
      flex-direction: column;
      width: 40%;
      color:darkslategrey;
      background-color: grey;
      align-content: center;
      justify-content: center;
  }
  .banner-left img{
      max-width: 100%;
      height: auto;
      overflow:visible;
  }
  .button{
      background-color: darkslategray;
      width: 70%;
      padding: 8px 0;
      text-align: center;
      text-decoration: none;
  }
  .button a{
      color:white;
  }
  @media only screen and (max-width: 760px) {
    .banner {
     display: block;
    }
    .banner-left{
        width: 100%;
        
        overflow: auto;
        padding: 0%;
    }
    .banner-right{
    width: 100%;
    align-content: center;
    padding-left: 16px;
    }
    .banner-right h1 {
        padding: 32px 0;
    }
    .banner-left h2{
        padding-bottom: 24px;
    }
    .button{
        align-self: center;
        margin-bottom: 32px;
    }
  }

  /* about us section */
  .aboutus{
    display: flex;
    background-color: white;
    
  }
  .aboutus-left{
      width: 60%;
      display: flex;
      padding: 0 24px;
      flex-direction: column;
      align-content: center;
      justify-content: center;
  }
  .aboutus-left img{
      padding: 32px 0;
  }
  .aboutus-right{
      width: 40%
  }
/* about us: event section */
.event {
    display: flex;
}
.event img{
    height: auto;
    width: 35%;
    padding: 16px;
    
}
.event .eventdata{
    width: 65%;
}
.guest{
     background-color: grey;
 }
 @media only screen and (max-width: 760px) {
   .aboutus-right{
       width: 100%;
       display: block;
   }
   .event{
       width: 100%;
       display: flex;
       flex-direction: column;
       background-color: white;
   }
   .aboutus img{
       max-height: 100%;
       width: auto;
       background-color: white;
   }

}

 /* courses section */
 .courses-container{
     background-color: grey;

 }
 .courses-title{
     padding: 32px 0;
     text-align: center;
 }
 .courses{
     padding: 0 72px 32px 72px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .course{
     padding-bottom: 32px;
     padding-right: 32px;

 }
 .course img{
     height:auto;
     padding-bottom: 16px;
 }
 .course-text {
     padding-left: 16px;
 }
 .course h2{
     padding-bottom: 8px;
 }
 .subtitle{
     padding-bottom: 8px;
 }
 .classlist{
     padding-bottom: 24px;
 }
 @media only screen and (max-width: 760px) {
     .courses-container{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height:fit-content;
        align-items:  center;
        justify-content: center;
        padding-bottom: 32px;
      }
      .courses-container h1{
          padding-top: 32px;
          padding-bottom: 16px;

      }
    
    .course-links{
        display: flex;
        flex-direction: column;
        border: grey;
        width: 70%;
    }
    .course-links a{
        color: darkslategray;
        background-color: gray;
        padding-bottom: 24px;
        padding-top: 16px;
        padding-left: 16px;
        margin-bottom: 8px;
    }
 
 }
 /* Thesis exhibit section */
 .exhibit-container{
     display: flex;
 }
 .exhibit-section h1{
     padding: 32px 0;
     text-align: center;

 }
 .exhibit-left{
     width: 60%;
     padding-left: 24px;
 }
 .exhibit-left video{
     width: 100%;
     padding: 0 24px 24px 0;
     
 }
 .exhibit-left h3{
     padding-bottom: 8px;
 }
 .exhibit-left p{
     padding-bottom: 32px;
 }
 .exhibit-right{
     width: 40%;
 }
 .exhibit{
     display: flex;
}
.exhibit img{
    width: 35%;
    height: auto;
    padding: 16px;
}
.exhibit-text{
    width: 65%;
}
@media only screen and (max-width: 760px) {
    .exhibit-right{
        display: none;
    }
    .exhibit-left h3{
        display: none;
    }
    .exhibit-left p{
        display: none;
    }
    .exhibit-left{
        width: 100%;
    }

}
 /* Footer section */
footer{
    padding-top: 16px;
    padding-left: 24px;
    height: 64px;
}
footer p {
    float:left;
    margin: 0;
}
footer a {
    float: right;
    padding-right: 16px;
}

